    .box {
        display: inline-block;
        background-color: #908C8C;
        box-shadow: 5px 5px 0 black;
        text-align: center;
        padding: 30px 20px;
    }

    .box .title {
        margin-bottom: 15px;
    }